<!DOCTYPE html>
<html>
<body>
  <div class="bgimg">
  <h2 style="text-align: center; color: seashell; font-size: 30px;">Employee Registration</h2>
  <br>
  <div class="container">
    <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
      <div class="row">
        <div class="col-25">
          <label for="empid">Employee ID</label>
        </div>
        <div class="col-75">
          <input type="text" required #id="ngModel" ngModel id="empid" name="empId" placeholder="ID.." />
          <span class="message" *ngIf="id.invalid && id.touched">*Employee ID is required.</span>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="name">Employee Name</label>
        </div>
        <div class="col-75">
          <input type="text" required #name="ngModel" ngModel id="name" name="name" placeholder="Employee name.." />
          <span class="message" *ngIf="name.invalid && name.touched">*Name is required.</span>
        </div>
      </div>

      <br />

      <div>
        <button [disabled]="simpleForm.invalid" class="button">Register</button>
      </div>
    </form>
  </div>
  <br />
  <br />

  <div class="btnemp">
    <button class="buttonemp" (click)="getEmployees()">
      View All Employees
    </button>
  </div>

  <br />
  <br />

  <table class="center">
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Operations</th>
    </tr>
    <tr *ngFor="let employee of company">
      <td>{{ employee.empId }}</td>
      <td>{{ employee.name }}</td>
      <td>
        <i class="fa fa-trash" style="color: red; font-size: 30px; cursor: pointer"
          (click)="deleteEmployee(employee.empId)"></i>
      </td>
    </tr>
  </table>
</div>
</body>

</html>