* {
    box-sizing: border-box;
    font-size: medium;
  }
  body{
    background-image: url("../../assets/image/bg3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .message{
    color: red;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, .button {
      width: 100%;
      margin-top: 10px;
    }
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  .searchbtn{
    background: #047baa;
  }
  .searchbtn:hover{
    background: #456ca0;
  }

  .editbtn{
    background: #df3131;
  }
  .editbtn:hover{
    background: rgb(218, 78, 78);
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }